[Unit]
Description=Cobra Email Notification Service
After=network.target

[Service]
WorkingDirectory=/opt/cobraav
ExecStart=/opt/cobraav/notify.py

[Install]
WantedBy=multi-user.target
