[Unit]
Description=Cobra Sentinel Service
After=network.target

[Service]
# User=zloy_admin
WorkingDirectory=/opt/cobraav
ExecStart=/opt/cobraav/cobraav.sh
# MemoryLimit=100M

[Install]
WantedBy=multi-user.target
