[Unit]
Description=Cobra Update Service
After=network.target

[Service]
WorkingDirectory=/opt/cobraav
ExecStart=/opt/cobraav/update.py

[Install]
WantedBy=multi-user.target
